{% extends 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="id_username">
                    <label for="id_password" class="form-label">Password</label>
                    <input type="text" class="form-control" name="password" id="id_password">
                </div>
                <button type="submit" class="btn btn-color text-white mb-5">Login</button>
            </form>
            <a href="{% url 'password_reset' %}">password reset</a>
        </div>
    </div>
</div>
{% endblock %}